<%= form_for(user_resume) do |f| %>
  <% if user_resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_resume.errors.count, "error") %> prohibited this user_resume from being saved:</h2>

      <ul>
      <% user_resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :template %>
    <%= f.text_field :template %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
