<!-- <%# form_for(user) do |f| %>
  <%# if user.errors.any? %>
    <div id="error_explanation">
      <h2><%# pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <%# user.errors.full_messages.each do |message| %>
        <li><%# message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%# f.label :email %>
    <%# f.text_field :email %>
  </div>

  <div class="field">
    <%# f.label :password_hash %>
    <%# f.text_area :password_hash %>
  </div>

  <div class="field">
    <%# f.label :mobile %>
    <%# f.text_field :mobile %>
  </div>

  <div class="field">
    <%# f.label :verified %>
    <%# f.check_box :verified %>
  </div>

  <div class="actions">
    <%# f.submit %>
  </div>
<%# end %> -->
<style type="text/css">
  .btn-logout{
    display: none;
  }
</style>
<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <!-- <div class="col-xs-12">
                <a href="#" class="active" id="login-form-link">Login</a>
              </div> -->
              <div class="col-xs-12">
                <a href="#" class="active" id="register-form-link">Register</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <%= form_for @user, :html => { :id => "register-form"} do |f| %>
                  <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                      <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                      <%= f.text_field :email, class: 'form-control', placeholder: 'Enter Email', onfocusout: 'validateForm()' %>
                      <p id="error-email" style="color: red;"></p>
                  </div>
                  <div class="form-group">
                      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter Password', onfocusout: "checkPwd()" %>
                      <p id="error-minp" style="color: red;"></p>
                  </div>
                  <div class="form-group">
                    <!-- <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password"> -->
                      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter Password', onfocusout: "confirmPass()" %>
                      <p id="error-password" style="color: red;"></p>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                          <%= f.submit 'Register now', :class => 'form-control btn btn-register'  %>
                          <p>Already a member? <a href="/login" class=''>Login</a> here</p>                                                 
                      </div>
                    </div>
                  </div>
                <% end %>                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style type="text/css">
    .btn-register{
      display: inline-block;
      width: 200px;
    }
  </style>

  <script type="text/javascript">
    function validateForm() {
        var x = document.getElementById('user_email').value;
        var atpos = x.indexOf("@");
        var dotpos = x.lastIndexOf(".");
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
            $("#error-email").html("Not a valid e-mail address");
            return false;
            // return false;
        }
        else{
          $("#error-email").html("");
          return true;
        }
    }

    function confirmPass(){
      var x = document.getElementById('user_password').value;
      var y = document.getElementById('user_password_confirmation').value; 
      if(x!=y){
            $("#error-password").html("Password Mismatch");        
            return false;
      }     
      else{
        $("#error-password").html("");        
        return true;
      }
    }

    function checkPwd() {
        var str = document.getElementById('user_password').value;
        if (str.length < 8) {
            $("#error-minp").html("Min 8 characters required");
            return false;
        } else{
            $("#error-minp").html("");
          return true;
        }
    }

    $('#register-form').submit(function() {
        // DO STUFF...
        if(validateForm() && confirmPass() && checkPwd()){
          console.log("true");
          return true;
        }else{
          console.log("false");
          return false;
        }
        // return true; // return false to cancel form action
    });

    function checkData(){
      
    }

    $(function() {

    $('#login-form-link').click(function(e) {
    $("#login-form").delay(100).fadeIn(100);
    $("#register-form").fadeOut(100);
    $('#register-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });
  $('#register-form-link').click(function(e) {
    $("#register-form").delay(100).fadeIn(100);
    $("#login-form").fadeOut(100);
    $('#login-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });

});

  </script>