<!DOCTYPE html>
<html>
  <head>
    <title>Resume Builder | Build Professional CV in 3 easy steps</title>
    <meta name="keywords" content="resumes, cv, cvs, builder, build, easy, steps, professional, biodata, one, page, plain, beautiful">
    <meta name="description" content="Easily build resume cv in few steps. Get professional resumes cvs one page design built in inspiring designs and layouts. Readymade designs of cv or resumes which you can directly print. This is one of the most important designs because people buy what looks good.">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/favicon.png" type="image/gif">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102598256-1', 'auto');
  ga('send', 'pageview');

</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7852213208779013",
    enable_page_level_ads: true
  });
</script>

  </head>

  <body>
  <nav>
	
</nav>

<p class="btn-logout" style="">Hello User! <a href="/logout">Logout</a>?</p>

<style type="text/css">
  .btn-logout{
    text-align:right;
    font-size: 12px;
    margin-right: 20px;
  }
</style>

<p style="text-align:center; color: red;"><%=notice%></p>
    <%= yield %>

    <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 footerleft ">
        <div class="logofooter"> Resume Builder</div>
        <p>Resume Builder is a tool to build your resume or cv in few easy steps. It helps you create professional resume design by just editing the details in it. This tool is completely free and has numerous beautiful cv and resume templates.</p>
        <p>Your search for the perfect resume that can get you a job stops here. We keep on adding templates from time to time so that you get more options to choose from. Keep on visiting us so that you can get more designs. You can just select any templete and choose to edit it just by replacing the text in the template. You can also add or remove a few sections according to the template flexibilities.</p>

      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="/login"> Login</a></li>
          <li><a href="/signup"> Signup</a></li>
          <li><a href="/templates"> Templates</a></li>
          <li><a href="/template1"> Template 1</a></li>
          <li><a href="/template2"> Template 2</a></li>
          <li><a href="/template3"> Template 3</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div> -->
      <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="mailto:support@buildcv.online"><a href="mailto:support@buildcv.online"><p style="color: #fff;"><i class="fa fa-envelope"></i> E-mail : support@buildcv.online</p></a></blockquote>
        <p style="color:#fff;">We are currently in beta phase so any inputs regarding bugs or innovation from you are more than welcome</p>
        <p style="color:#fff;">All complaints/suggesstions can be sent to our support mail <a href="mailto:support@buildcv.online"> support@buildcv.online</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Resume Builder</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="/">buildcv.online</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/templates">Templates</a></li>
        <!-- <li><a href="#">Contact us</a></li> -->
        <li><a href="/sitemap.xml">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>
