<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">

  </head>

  <body>
  <nav>
	
</nav>

<p class="btn-logout" style="">Hello User! <a href="/logout">Logout</a>?</p>

<style type="text/css">
  .btn-logout{
    text-align:right;
    font-size: 12px;
    margin-right: 20px;
  }
</style>

<p style="text-align:center; color: red;"><%=notice%></p>
    <%= yield %>
  </body>
</html>
